* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.menu {
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
}

.menu ul{
    text-align: center;
}

.menu ul li {
    display: inline;
    position: relative;
}

.menu ul li a{
    display: inline-block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.menu ul li a:hover ,.entrar {
    background-color: #188be9;
}

.menu ul li ul {
    position: absolute;
    left: 0;
    background-color:#188be9;
    display: none;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul li ul li a{

}