* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.menu {
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
}

.body {
    margin-left:150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.rodape{
    position: relative;
    background-color: #188be9;;
    color: white;
    text-align: center;
    padding:50px;
    font-size: 20px;
}

.body h1{
    padding-bottom: 50px;
}

#banner img {
    height:500px;
    width: 100%;
}

.menu ul{
    text-align: center;
}

.menu ul li {
    display: inline;
    position: relative;
}

.menu ul li a{
    display: inline-block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.menu ul li a:hover ,.entrar {
    background-color: #188be9;
}

.menu ul li ul {
    position: absolute;
    left: 0;
    background-color:#188be9;
    display: none;
}

.menu ul li:hover ul {
    display: block;
}
